body {
    background-color: coral;
}

h1 {
    text-align: center;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grand_title {
    text-align: center;
    font-size: 48px;
    font-family: cursive;
}

div.above {
    position: fixed;
    margin: 0%;
    width: 100%;
    columns: 100px;
    background-color: aqua;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
img.banner {
    max-width: 100%;
}

.image-container {
    max-width: 100%;
    padding: 2.5%;
    border-color: black;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.content-container {
    width: 100%;
    display: grid;
    /* auto auto means two columns */
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.content {
    background-color: bisque;
    max-width: 100%;
}

.content h2 {
    margin-left: 2.5%;
}

.content p {
    margin-left: 2.5%;
}